.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--amber-200);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: inset -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.upload-icon-container {
}
.upload-icon {
  color: var(--grey-800);
}
.upload-text {
  color: var(--grey-800);
  font-size: 18px;
}
