.LoggedOut {
  width: 100%;
  height: 100%;

  background-color: var(--blue-600);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--transparent-80);
  padding: 35px;
  border-radius: 5px;
  width: 65%;
  border: 1px solid var(--color-7);
  margin: 0 auto;
}
.welcome-message {
  text-align: center;
}
.welcome-separator {
  width: 20%;
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid var(--color-1);
}

.btn {
  padding: 10px;
  border: 1px solid #0091ea;
  background: #0091ea;
  color: #fefefe;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.feature-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}
.feature-item img {
  margin-right: 10px;
}
.feature-list {
  margin: 20px 0;
  padding: 30px;
  border-radius: 5px;
  background: var(--transparent-60);
  border: 1px solid var(--color-7);
}
