.file-item-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 0 10px;
  background: var(--grey-100);
  border-radius: 4px;
  border: 1px solid var(--blue-900);
  justify-content: space-between;
}
.file-item-header {
  display: flex;
  align-items: center;
}
.file-link {
  text-decoration: none;
  color: var(--color-1);
}
.file-icon {
  color: var(--color-1);
}
.file-more {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.file-more:hover {
  background: var(--color-3);
}
.file-more:hover .more-icon {
  color: var(--color-6);
}
