.files-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--blue-900);
  height: 100vh;
}
.files-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: var(--amber-200);
  padding: 15px;
}
.file-name-wrapper {
  display: flex;
  align-items: center;
  background: var(--color-2);
  border: 1px solid var(--color-7);
  border-radius: 5px;
  text-align: center;
  color: var(--color-1);
}
.file-name {
  padding: 5px;
}
.arrow-back-icon-wrapper {
  padding: 5px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-7);
}
.arrow-back-icon-wrapper:hover {
  background: var(--color-3);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.arrow-back-icon-wrapper:hover .arrow-back-icon {
  color: var(--color-6);
}

.upload {
  width: 100%;
  background: var(--grey-100);

  text-align: center;
  cursor: pointer;
  user-select: none;
  height: 50px;
}
.upload-text {
  color: var(--color-1);
  user-select: none;
}
