div.folders-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--blue-900);
}

.folder-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--amber-200);
  border-bottom: 2px solid var(--amber-400);
  color: var(--grey-800);
}

.folder-name-container {
  display: flex;
  align-items: center;
  padding: 15px;
  text-align: center;
  height: 100%;
}
.folder-name-text {
  font-size: 16px;
  color: var(--grey-800);
}
.folder-options {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: var(--grey-800);
  background: var(--amber-300);
}
.create-new-folder {
  color: var(--grey-800);
}
.folders-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--blue-900);
  margin-top: 15px;
}
.folder-icon {
  color: var(--color-1);
  margin-right: 5px;
}
.folder-options:hover {
  background: var(--amber-400);
}
