@import url("https://fonts.googleapis.com/css?family=Comfortaa|Roboto");

:root {
  --color-1: #647179;
  --color-2: #fff;
  --color-3: #0091ea;
  --color-4: #df2100;
  --color-5: #be1d00;
  --color-6: rgb(250, 250, 250);
  --color-7: rgb(214, 214, 214);
  --color-8: rgb(225, 225, 225);
  --color-9: #00be29;
  --color-10: #00a724;
  --shadow: rgba(0, 0, 0, 0.3);
  --transparent-80: rgba(255, 255, 255, 0.8);
  --transparent-60: rgba(255, 255, 255, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  background: var(--color-2);
  height: 100%;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
